<div id="status-updates-<%= post.id %> ">
	<div id="post-<%=post.id %>">
		<div class="row ">
			<div class="col-md-2 col-md-offset-1 post-category-image">
					<div class="post-category <%= post.category %>-post"> CATEGORY
					</div>
			</div>
			<div class="col-md-8 post-text">
				<p class="author">
				  <span><%=post.user_id %></span> <%=post.created_at %>
				</p>
				<br>
				<p class="text-body">
					<%= post.content %>
				</p>
			</div>
			<div class="col-md-1 ">

			<%= button_to '', like_post_path(post),:class=>" like-btn like_status #{'active' if post.is_liked_by(current_user)}", :remote=>true %>
			</div>
		</div>
	</div>

	<div>
		<%= form_for [post, Comment.new], :remote=>true do |f| %>
			<div class="row convo-row <%= post.category %>-post">
				<div class="col-md-2 col-md-offset-1">
					<span class="glyphicon glyphicon-comment chat-bubble"></span>
				</div>
				<div class="col-md-8 textarea-row <%= post.category %>">
					<%= f.text_area :content, :class=>"colormatch form-control #{post.category}-post", rows: 1, :placeholder=>'Add to the conversation'%>
				</div>
				<div class="col-md-1 submit-button">
					<%= f.submit 'Submit', :class=>'post-submit' %>
				</div>
			</div>
		<% end %>
		<div class="comments-row comments-on-post-<%=post.id %>">
			<% post.comments.each do |comment| %>
				<%= render :partial=>'comments/comment',:locals=>{:comment=> comment} %>
			<% end %>
		</div>
		<hr class="feed-divider"/>
	</div>
</div>